<!DOCTYPE html>
<html>
    <head>
        <title>Pagina web</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="padding-top: 10px;">
        <h1>Añadir</h1>
        <form method="post">
            <div class="mb-2">
                <label>Departamento</label><br>
                <input type="text" name="departamento" placeholder="departamento">
            </div>

            <div class="mb-2">
                <label>Salon</label><br>
                <input type="text" name="salon" placeholder="salon">
            </div>

            <div class="mb-2">
            <label>Equipo</label><br>
            <input type="text" name="equipo" placeholder="CPU o Monitor">
            </div>
          
            <div class="mb-2">
            <label>Activo</label><br>
            <input type="text" name="activo" placeholder="activo">
            </div>

            <div class="mb-2">
                <label>Serie</label><br>
                <input type="text" name="serie" placeholder="serie">
            </div>

            <div class="mb-2">
                <label>Marca</label><br>
                <input type="text" name="marca" placeholder="marca">
            </div>

            <div class="mb-2">
                <label>Modelo</label><br>
                <input type="text" name="modelo" placeholder="modelo">
            </div>

            <div class="mb-2">
                <label>Version de Windows</label><br>
                <input type="text" name="windows" placeholder="windows">
            </div>

            <div class="mb-2">
                <label>Procesador</label><br>
                <input type="text" name="procesador" placeholder="procesador">
            </div>

            <div class="mb-2">
                <label>RAM instalada</label><br>
                <input type="text" name="ram" placeholder="GB">
            </div>

            <div class="mb-2">
                <label>Disco Duro</label><br>
                <input type="text" name="discoduro" placeholder="GB">
            </div>

            <div class="mb-2">
                <label>Direccion IP</label><br>
                <input type="text" name="direccionip" placeholder="ip">
            </div>

            <div class="mb-2">
                <label>tarjeta de Video</label><br>
                <input type="text" name="tarjetavideo" placeholder="Tarjeta de video">
            </div>
          
            <input type="submit">
          </form>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>