        <!-- <h2 class="text-center" style="padding-top: 10px;">{{computers["equipo"]}} {{computers["activo"]}} </h2>
        <div class="lead container">
            <p><b>Departamento: </b> {{computers["departamento"] }} </p>
            <p><b>Salon: </b> {{ computers["salon"] }} </p>
            <p><b>Serie: </b> {{ computers["serie"]}}</p>
            <p><b>Marca: </b> {{ computers["marca"]}}</p>
            <p><b>Modelo: </b> {{ computers["modelo"]}}</p>
            {% if "CPU" in computers["equipo"] %}
            <p><b>Modelo de Windows: </b>{{computers["windows"]}}</p>
            <p><b>Procesador: </b>{{computers["procesador"]}}</p>
            <p><b>RAM instalada: </b>{{computers["ram"]}} GB</p>
            <p><b>Disco Duro: </b>{{computers["discoduro"]}} GB</p>
            <p><b>Direccion IP: </b>{{computers["direccionip"]}}</p>
            <p><b>Tarjeta de video: </b>{{computers["tarjetavideo"]}}</p>
            {% endif %}
        </div> -->
        <!--
    "direccionip": null,
    "discoduro": null,
    "procesador": null,
    "ram": null,
    "tarjetavideo": null,
    "windows": null -->